$color-1: #dddddd;
$color-2: #3e3e3e;
$color-3: #ffffff;
$color-4: #000000;

$font-family-arial: 'Arial';
$font-family-roboto: 'Roboto';

$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

$font-size-1: 1em;
$font-size-2: 1.2em;
$font-size-3: 1.5em;
$font-size-4: 2em;
$font-size-5: 3em;

$line-height-1: 1.2;
$line-height-2: 1.4;
$line-height-3: 1.6;
$line-height-4: 1.8;
$line-height-5: 2;

$letter-spacing-0: 0;
$letter-spacing-1: 0.1em;
$letter-spacing-2: 0.3em;
$letter-spacing-3: 0.5em;
$letter-spacing-4: 1em;

$padding-0: 0px;
$padding-1: 0em;
$padding-2: 0rem;
$padding-3: 0%;

$margin-a: auto;
$margin-0: 0px;
$margin-1: 0em;
$margin-2: 0rem;
$margin-4: 0%;

$border-width-0: 0px;
$border-width-1: 1px;
$border-width-2: 2px;
$border-width-3: 3px;
$border-width-4: 5px;
$border-width-5: 10px;

$border-radius-0: 0px;
$border-radius-1: 5px;
$border-radius-2: 10px;
$border-radius-3: 15px;
$border-radius-4: 50px;
$border-radius-5: 100px;
$border-radius-6: 200px;